.user-details-bar{
    font-family: 'IBM Plex Serif', serif;
    font-size: 3vh;
}
.sidebar{
    background-color: #283e51;
    width: 24vw;

}
.content{
    padding: 5px;
}
.content:hover{
    background-color:#4b79a1;;
    color: #282c34;
}
.sidebar-tabs{
    background-color: #283e51;
    list-style: none;
    margin-top: 2vh;
}
.sidebar-tabs-add{
    background-color: #01579b;
    list-style: none;
    margin-top: 2vh;
}
.sidebar-tabs-add:hover{
    background-color: #110f4e;
    color: #282c34;
}
.admin-col-2-icon{
    margin-top: 2vh;
}
.nav-list{
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 15px;
    text-align: left;
    color: lavender;
    font-family: 'IBM Plex Serif', serif;
}
